# osx noise
.DS_Store
profile

# xcode noise
build/*
*.mode1
*.mode1v3
*.mode2v3
*.perspective
*.perspectivev3
*.pbxuser
*.xcworkspace
xcuserdata

# svn & cvs
.svn
CVS

# eclipse noise
*.apk
*.ap_
*.dex
*.class
*.classpath
*.project
bin/com/sbasite/sbasites/ItemizedOverlay/LayerItemizedOverlay.class
bin/com/sbasite/sbasites/SBAMapActivity$1.class
bin/com/sbasite/sbasites/SBAMapActivity.class
.project
